.hero {
    padding: 60px 0 80px;
    background: #FF6A00 url("/image/banner.jpg") center/cover;
    color: #fff;
    position: relative;
    margin-bottom: 32px;
}

/* .hero__container {} */

.hero__link {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 24px;
    left: calc(100% - var(--padding) - (100% - var(--width) - 2 * var(--padding))/2);
    transform: translateX(-100%);
    width: 114px;
    font-size: 16px;
    letter-spacing: 0.02em;

}

.hero__icon {
    width: 20px;
    height: 20px;
}

.hero__logo {
    width: 240px;
    margin: auto;
    margin-bottom: 80px
}

.hero__title {
    text-align: center;
    margin-bottom: 36px;
    letter-spacing: 0.02em;
    font-weight: 900;
    font-size: 70px;
}

.hero__tagline {
    text-align: center;
}